@use "../../sass/utils/functions" as f;

.board {
  width: min(90%, f.rem(500));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: f.rem(8);

  .cell {
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    font-size: clamp(f.rem(48), f.rem(30) + 4vw, f.rem(80));
    color: var(--dark-blue);
    user-select: none;
    border: none;
  }
}
