@forward "./sass/colors";
@forward "./sass/globals";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--dark-blue);
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}
