@forward "./sass/colors";
@forward "./sass/globals";
@use "./sass/utils/functions" as f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--dark-blue);
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
  text-align: center;
}

input {
  font-size: inherit;
  border: 1px solid black;
  padding: f.rem(8);

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #00000055;
  }
}
